.chatbox{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top : 10px;
    background-color : #ffffff;
    height : 164px;
    /* padding : 10px; */
    z-index : 1;
    color : #000000;
    background-color : #fafbff;
}

.chatbox-title span{
    font-size : 15px;
    font-weight : bold;
    padding : 15px;
}

.chatbox-data{
    display : flex;
    flex-direction : column;
    gap : 5px;
    border-top : 1px solid #808080;
    padding : 5px;
    height: 5rem;
    overflow-y: auto;
}

.chatbox-details{
    display : flex;
    align-items : center;
    gap : 10px;
    margin-top : 10px;
}

.chatbox-details .person-image {
    height: 100%;
}

.chatbox-details .person-image img{
    height : 30px;
    width : 30px;
    border-radius : 100px;
}

.chatbox-text span{
    font-size : 15px;
    font-weight : 500;
    display : flex;
    align-items : center;
}

.chatbox-send {
    border-top: 1px solid #999;
    display: flex;
    gap: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.chatbox-send .content {
    margin: auto;
    width: 100%;
}

.chatbox-send .content input {
    padding: .5rem;
    width: 100%;
}

.chatbox-send .send {
    margin: auto;
}

.chatbox-send .send button {
    padding: .5rem;
    margin-top: 0;
}

