.playgame{
    padding : 10px;
    height: calc(100vh - 125px);
    overflow-y : scroll;
    /* gap : 5px; */
    display : flex;
    flex-direction :column;
    /* justify-content : space-between; */
    background-color : #000000;
}

.playgame-menu{
    flex : 4;
}

.playgame-data{
    display : flex;
}

.first{
    padding-top: 50px;
    display: flex;
}
.player-x{
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-top : 10px;
}
.player1 button{
    border: none;
    background-color : #ffffff;
    color : #000000;
    padding : 10px;
    border-radius: 5px;
    text-transform : capitalize;
}
.player8 button{
    border: none;
    background-color : #1a1a1a;
    color : #ffffff;
    padding : 10px;
    border-radius: 5px;
    text-transform : capitalize;
}
.game-name h2{
    color: white;
    margin-left: 20px;
}
.player-y{
    margin-left: auto;
    FONT-VARIANT: JIS04;
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    width: 150px;
}
.player-y h3{
    color: white;
}
.player-y p{
    color: white;
}
.second{
    display : flex;
    flex-direction : column;
    gap : 10px;
    margin-top : 20px;
}
.second h1{
    color: white;
}
.second h3{
    color:white;
    margin-left: 20px;
}
.cards h1{
    color: white;
    margin-left:20px;
}
.third-data{
    display: flex;
    flex-wrap : wrap;
    /* justify-content : space-between; */
    align-items : center;
    gap:10px;
    margin : 20px;
    padding-bottom : 5px;
}
.third-data1{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius : 10px;
}
.third-data1 p{
    display : flex;
    justify-content : center;
    align-items : center;
    height : 100%;
    padding : 5px 10px 5px 10px;
    text-align : center;
    text-transform : capitalize;
    font-size : 20px;
    font-weight : bold;
}

.game-info {
    margin-left: auto;
}

.game-info .submission {
    color: white;
    text-align: center;
    padding: 1rem;
}

.game-info .submission h5 {
    line-height: .75;
}

.game-info .timer {
    text-align: center;
    color: white;
}
/* 
@keyframes first {
    
} */

.first-dot {
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.second-dot {
    animation-name: second;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.third-dot {
    animation-name: third;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes first {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
    }

    100% {
        visibility: visible;
    }
}

@keyframes second {
    0% {
        visibility:hidden;
    }

    50% {
        visibility:hidden;
    }

    75% {
        visibility:visible;
    }

    100% {
        visibility: visible;
    }
}

@keyframes third {
    0% {
        visibility:hidden;
    }

    75% {
        visibility:hidden;
    }
    
    100% {
        visibility: visible;
    }
}